* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: burlywood;
  padding: 0.5em;
}
.menu-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2em;
  margin-right: 2em;
  font-weight: 600;
  font-size: 20px;
}
.main-menu {
  display: flex;
  align-items: center;
  gap: 2em;
}
.menu {
  display: flex;
  align-items: center;

  padding: 1em;
}
.login {
  font-size: 30px;
  cursor: pointer;
}
