.news-container {
  display: flex;
  flex-direction: row;

  background-color: ghostwhite;
}
.image-container {
  display: flex;
  background-color: blue;
}
.image-container img {
  width: 300px;
  height: 400px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  text-align: justify;
}
